@import "_reset";
@import "_utils";

@left_edge: 610px;

body {
  background: #eee;
  font-family: Helvetica;
}
   
* {
  padding: 0;
  margin: 0;
}
    
#control {
  position: relative;
  z-index: 1000;
  background: #333;
  height: 29px;
  color: #ddd;

  button {
    margin: 0;
    height: 24px;
    padding: 3px 6px;
    margin-top: 2px;
    .rounded(4px);
    border: 0;
    .grad_linear(#fff,#ddd);
  }
}

button#pause {
  position: absolute;
  left: @left_edge;

  z-index: 2;
  font-size: 16px;
}
    
#fps {
  font-size: 12px;
  position: absolute;
  text-align: right;
  z-index: 4;
  width: 40px;
  left: @left_edge - 60px;
  top: 6px;
}
    
    

    
canvas#canvas {
  outline: 1px solid #999;
	margin: 8px;
  position: relative;
  z-index: 1;
/*      background: #eee;*/
  border: 0;
  zoom: 1;
}
    
body.z1 canvas#canvas {
  outline: none;
  zoom: 0.4;
  margin-left: 311px;
  margin-top: 256px;
}
    
#t {
  display: none;
}

body.z1 #t {
  display: block;
  position: absolute;
  top: 7px;
  left: -17px;
  width: 535px;
}

body.z3 canvas#canvas {
  zoom: 0.14;
}
    
.tabs {
  position: relative;
  z-index: 1000;
  top: -4px;
  left: -1px;
  margin: 0px 0 0 50px;
}
.tabs a {
  font-size: 12px;
  text-decoration: none;
  background: #333;
  padding: 4px 8px 4px 8px;
  border: 1px solid #999;
  .rounded_corners(4px,4px,0, 0);
  border-bottom: 0;
  color: #666;
}
    
.tabs a.active {
  background: #111;
  color: #ddd;
}
    
#editor {
  position: absolute;
/*  width: 540px;*/
	left: 640px;
  top: 13px;
  right: 0;
  
  .error_message {
    display: none;
    position: absolute;
    bottom: 1em;
    background: #eee;
    left: 55px;
    right: 16px;
    padding: 2px;
    z-index: 10000;
    border-left: 4px solid red;
  }
}
		
.editor {
/*  width: 540px;*/
  line-height: 1.5em;
  font-size: 11px;
	height: 400px;
  position: relative !important;
  
  .ace_gutter-cell {
    color: #bbb;
  }
  .ace_gutter {
    background: none;
  }
}
    
    
/* snorkle.css */
div#results .raw { display: none; }
div#results .value {
	width: 100px;
	text-align: right;
	display: inline-block;
}

button.add_parameter {
  position: absolute;
  right: 1px;
  padding: 2px;
  top: -1px;
}


ul.Snorkle { 
  z-index: 3;
/* float: right; */
	position: absolute;
	left: 690px;
	font-family: Helvetica;
	top: 420px;
  background-color: white;
  right: 0;
/* margin: 4px 12px; */
  list-style: none;
  font-size: 18px;
  font-weight: bold;
  color: #aaa;
  

  
  
  button.delete {
    position: absolute;
    left: -17px;
    top: 11px;
    border: 0;
    color: #ccc;
    background: none;
    padding: 1px 4px 3px 4px;
    
    &:hover {
      background: white;
      color: #333;
      cursor: pointer;
    }
  }
  input {
    font-family: Monaco;
    position: absolute;
  	border: 0;
  	background: #fff;
  	color: #222;
  	padding: 2px 4px;
  }
  input.code {
    left: 4px;
    right: 4px;
    bottom: 2px;
    font-size: 10px;  
  }
  input.default_value {
    position: absolute;
    right: 1px;
    width: 5em;
    background: #ddd;
  }
  h1 {
    font-size: 12px;
    background-color: #333;
    padding: 2px 0 2px 8px;
    color: white;
  }
  .viz {
    display: inline-block;
    width: 120px;
  	vertical-align: top;
  /*  margin-left: 70px;*/

    canvas {
    	position: absolute;
    	right: 74px;
    }
  }

  .raw {
    color: #ddd;
  }

  h2 {
    position: absolute;
    left: 8px;
    top: 4px;
    font-size: 16px;
    color: #444;
    font-weight: normal;
  }
  li {
    background-color: white;
    border-bottom: 2px solid #eee;
    position: relative;
    margin: 0 0 0px 0;
  }
  li.result {
    padding-bottom: 24px;
    
    .raw {
      display: none;
    }
    .viz {
      canvas {
      	position: absolute;
      	right: 74px;
        top: 1px;
        outline: 1px solid #eee;
/*        .grad_linear(#ccc, #eee);*/
      }
    }
  }
  span {
  	font-size: 14px;
  	font-weight: normal;
  /* font-family: "Courier New";*/
  }
  
}




