<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>Accelerometer Javascript Test</title>
    <meta name="viewport" content="width=device-width,user-scalable=no"/>
    <style>
      body {
      	font-family: helvetica, arial, sans serif;
      	margin: 0;
      	background-color: #ddd;
      }
      > div {
        margin: 4px;
      }

      * {
        margin: 0;
        padding: 0;
      }
    </style>
    
    
    <script type="text/javascript" src="js/lib/jquery-1.7.min.js"></script>
    
    <script type="text/javascript" src="js/lib/jquery/jquery.globalstylesheet.js"></script>

    <script type="text/javascript" src="js/lib/underscore.js"></script>
    <script type="text/javascript" src="js/lib/backbone.js"></script>
    <script type="text/javascript" src="js/lib/json2.js"></script>
    <script type="text/javascript" src="js/lib/coffee-script.js"></script>
    <script type="text/javascript" src="js/lib/dataviz/jquery.sparkline.js"></script>
    
    <link id="main_styles" rel="stylesheet/less" href="less/designjam.less" type="text/css">

    <script type="text/javascript" src="js/lib/less.js"></script>    
    <script type="text/javascript" src="js/dev.js"></script>
    <script type="text/javascript" src="js/utils.js"></script>    
  </head>

<body>
        
        




<style><!-- zencoding -->
// (h1{trip}>span{outfit})+strong+div.destination>(h2+span.hotel)+(h3{Take it tips}+div.tip*4>h4+div.gift*2)+(h3>div.item*16>span+strong)
</style>


  <h1>trip<span>outfit</span></h1>
  
  <strong>calvin</strong>

  <div class="destination">
    <h2>Tokyo, Japan</h2>
    <span class="hotel">Mariott</span> <span class="date">5th-8th June</span>

    <h3>Take it tips</h3>
    <div class="tip">
      <h4>Gifts</h4>
      <div class="gift"><span>.</span><strong>Whisky</strong></div> 
      <div class="gift"><span>.</span><strong>-----</strong></div>
    </div>
    <div class="tip">
      <h4>Business Cards</h4>
      <div class="gift"><span>.</span><strong>Whisky</strong></div> 
      <div class="gift"><span>.</span><strong>-----</strong></div>
    </div>
    
    <h3>3 day travel bag</h3>
    
    <div class="item"><span>.</span><strong>-----</strong></div>
    <div class="item"><span>.</span><strong>-----</strong></div>
    <div class="item"><span>.</span><strong>-----</strong></div>
    <div class="item"><span>.</span><strong>-----</strong></div>
    <div class="item"><span>.</span><strong>-----</strong></div>
    <div class="item"><span>.</span><strong>-----</strong></div>
    <div class="item"><span>.</span><strong>-----</strong></div>
    <div class="item"><span>.</span><strong>-----</strong></div>
    <div class="item"><span>.</span><strong>-----</strong></div>
    <div class="item"><span>.</span><strong>-----</strong></div>
    <div class="item"><span>.</span><strong>-----</strong></div>
    <div class="item"><span>.</span><strong>-----</strong></div>
    <div class="item"><span>.</span><strong>-----</strong></div>
    <div class="item"><span>.</span><strong>-----</strong></div>
    <div class="item"><span>.</span><strong>-----</strong></div>
    <div class="item"><span>.</span><strong>-----</strong></div>

  </div>
  
  <div class="destination">
    <h2>Tokyo, Japan</h2>
    <span class="hotel">Mariott</span> <span class="date">5th-8th June</span>
  </div>  


</body>

<script type="text/backbone-tmpl" id="input_template">
  <li id="<%= id %>">
    <h2><%= id %></h2> 
    <div class="row">
      <span class="viz"></span> <span class="value"></span> <span class="raw"></span>
    </div>
  </li>
</script>

<script type="text/backbone-tmpl" id="input_row_template">
  <div class="row">
    <span class="viz"></span> <span class="value"></span> <span class="raw"></span>
  </div>
</script>



<script type="text/javascript">



</script>



<script type="text/coffeescript">
</script>

</html>
